body{

margin:0;
padding:0;

font-family: Arial;

background-image:url('myphoto.jpg');

background-size:cover;

background-position:center;

background-repeat:no-repeat;

height:100vh;

}

.overlay{

text-align:center;

padding-top:60px;

background-color:rgba(255,255,255,0.4);

height:100vh;

}

h1{

color:#003366;

font-size:50px;

}

nav{

margin:20px;

}

nav a{

text-decoration:none;

background-color:#0077ff;

color:white;

padding:10px 20px;

margin:10px;

border-radius:8px;

font-weight:bold;

}

nav a:hover{

background-color:#0055cc;

}

.box{

background:white;

width:650px;

margin:auto;

padding:30px;

border-radius:15px;

margin-top:30px;

box-shadow:0px 0px 10px gray;

}

p{

font-size:20px;

line-height:1.8;

}
