body{

margin:0;
padding:0;

font-family: Arial;

background-image: url('myphoto.jpg');

background-size: cover;

background-position: center;

background-repeat: no-repeat;

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

}

.container{

background-color: rgba(0,0,0,0.6);

color:white;

padding:40px;

width:700px;

border-radius:20px;

text-align:center;

}

h1{

font-size:50px;

color:#00ccff;

}

h2{

color:#ffffff;

}

p{

font-size:20px;

line-height:1.6;

}
